<footer class="footer">
  <div class="container">
    <div class="row">
    
      <div class="col-md-3">
        
        <h3 class="footer-logo">penguin</h3>
        
        <ul class="footer-social-media">
          
          <li>
            <%= link_to '#', target: "_blank" do %>
              <i class="fa fa-facebook fa-lg"></i>
            <% end %>
          </li>
          
          <li>
            <%= link_to '#', target: "_blank" do %>
              <i class="fa fa-twitter fa-lg"></i>
            <% end %>
          </li>
          
          <li>
            <%= link_to '#', target: "_blank" do %>
              <i class="fa fa-linkedin fa-lg"></i>
            <% end %>
          </li>
          
          <li>
            <%= link_to '#', target: "_blank" do %>
              <i class="fa fa-instagram fa-lg"></i>
            <% end %>
          </li>
        </ul>
      </div>
      
      <div class="col-md-2 footer-nav">
        <nav>
          
          <span class="footer-nav-title">Company</span>
          
          <ul class="footer-nav-list">
            <li><%= link_to "About",    about_path %></li>
            <!--<li><(perc)= link_to "Contact",  new_enquiry_path %></li>-->
            <!--<li><(perc)= link_to "Careers",  '#' %></li>-->
            <!--<li><(perc)= link_to "Partners", '#' %></li>-->
          </ul>
        </nav>
      </div>
      
      <div class="col-md-2 footer-nav">
        <nav>
          
          <!--<span class="footer-nav-title">Help</span>-->
        
          <!--<ul class="footer-nav-list">-->
          <!--  <li><(perc)= link_to "Dealers", new_dealership_path %></li>-->
          <!--</ul>-->
        </nav>
      </div>
      
      <div class="col-md-5">
        <nav>
          <ul class="footer-legal">
            <!--<li><(perc)= link_to "Cookies", legal_path %></li>-->
            <!--<li><(perc)= link_to "Privacy", legal_path %></li>-->
            <!--<li><(perc)= link_to "Terms",   legal_path %></li>-->
            <li>&copy 2020 Penguin</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>